node_modules
.next
.next*
out
coverage
.DS_Store
*.log
screenlog.0
tsconfig.tsbuildinfo
data/lead-submissions.json
Icelady Old Page/

# Environment files
.env*
!.env.example

# Local Netlify folder
.netlify

deno.lock
